
.DS_Store

# Log files
logs/
*.log

# Package directories
GITHUB/batch_textures_convert/
GITHUB/GameDevelopmentToolset/
GITHUB/MOPS/
GITHUB/qLib/
GITHUB/VFX-LYNX/
PACKAGES/batch_textures_convert/
PACKAGES/GameDevelopmentToolset/
PACKAGES/MOPS/
PACKAGES/qLib/
PACKAGES/VFX-LYNX/
PACKAGES/HoudiniExprEditor*/
PACKAGES/Alicevision*/

# Temporary files
*.tmp
*.swp
*~
